.title {
  color: var(--mantine-color-white);
  /* color: transparent; */
  font-size: rem(60px);
  font-weight: 900;
  line-height: 1.1;
  /* -webkit-text-stroke: 2px var(--mantine-color-white);  */

  @media (max-width: $mantine-breakpoint-sm) {
    font-size: rem(40px);
    line-height: 1.2;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    font-size: rem(28px);
    line-height: 1.3;
  }
}
.highlight {
  position: relative;
  background-color: var(--mantine-color-teal-light);
  border-radius: var(--mantine-radius-sm);
  padding: rem(4px) rem(12px);
}